* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Satoshi", sans-serif;
	width: 100%;
	height: 100vh;
	background-color: rgb(22, 22, 22);
	color: white;
	overflow: hidden auto;
	filter: contrast(0.7);
}

::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);

  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
  }

.btn {
	display: flex;
	align-items: center;
	gap: .25rem;
	color: #67cae2;
	background: linear-gradient(90deg, #3399c06b, #3365c04a);
	border: 1px solid #2d5db18f;
	border-radius: 17px;
}

*::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}

*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgb(22, 22, 22);
}

*::-webkit-scrollbar-track:hover {
	background-color: rgb(22, 22, 22);
}

*::-webkit-scrollbar-track:active {
	background-color: rgb(22, 22, 22);
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #101010;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #101010;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #101010;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-position 0.2s ease-out;
    will-change: transform; /* Indica ao navegador que a propriedade será animada */
    transform: translateZ(0); /* Força a aceleração de hardware */
	opacity: 0.5;
	pointer-events: none;
}

#background-layer-1 {
    background-image: url(/img/fofinhas.jpg);
    background-size: cover;
    will-change: transform;
    transform: translateZ(0);
	pointer-events: none;
}

/* Animação básica para elementos surgindo */
@keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  /* Classe para aplicar a animação */
  .animate-fade-in {
	opacity: 0;
	animation: fadeInUp 0.6s ease forwards;
  }
  
/* Classes de delay para aplicar individualmente */
.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }
.delay-5 { animation-delay: 0.5s; }
.delay-6 { animation-delay: 0.6s; }
.delay-7 { animation-delay: 0.7s; }
.delay-8 { animation-delay: 0.8s; }
.delay-9 { animation-delay: 0.9s; }
.delay-10 { animation-delay: 1s; }

/* Para delays maiores */
.delay-15 { animation-delay: 1.5s; }
.delay-20 { animation-delay: 2s; }
.delay-25 { animation-delay: 2.5s; }
.delay-30 { animation-delay: 3s; }